# Import Libraries

In [1]:
# Import required libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Reading the csv file and nameing the DataFrame.
df = pd.read_csv(r'C:\Users\Mohannad\Documents\DS_course_project\data\weather-sa-2017-2019-clean.csv')

df.shape

(249023, 15)

In [3]:
#view the datset
df

,Unnamed: 0,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,0,Qassim,1 January 2017,00:00,2017,1,1,24,0,Clear,17,11,64%,1018.0,16
1,1,Qassim,1 January 2017,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16
2,2,Qassim,1 January 2017,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16
3,3,Qassim,1 January 2017,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16
4,4,Qassim,1 January 2017,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,2848,Jawf,30 April 2019,19:00,2019,4,30,19,0,Passing clouds,32,19,14%,1014.0,-1
249019,2849,Jawf,30 April 2019,20:00,2019,4,30,20,0,Passing clouds,29,9,22%,1015.0,-1
249020,2850,Jawf,30 April 2019,21:00,2019,4,30,21,0,Passing clouds,27,7,24%,1016.0,-1
249021,2851,Jawf,30 April 2019,22:00,2019,4,30,22,0,Clear,26,0,26%,1017.0,16
249022,2852,Jawf,30 April 2019,23:00,2019,4,30,23,0,Clear,24,7,29%,1017.0,16

In [4]:
# Take an overview look at the columns and thier Datatype.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249023 entries, 0 to 249022
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  249023 non-null  int64
 1   city        249023 non-null  object
 2   date        249023 non-null  object
 3   time        249023 non-null  object
 4   year        249023 non-null  int64
 5   month       249023 non-null  int64
 6   day         249023 non-null  int64
 7   hour        249023 non-null  int64
 8   minute      249023 non-null  int64
 9   weather     249023 non-null  object
 10  temp        249023 non-null  int64
 11  wind        249023 non-null  int64
 12  humidity    249006 non-null  object
 13  barometer   248951 non-null  float64
 14  visibility  249023 non-null  int64
dtypes: float64(1), int64(9), object(5)
memory usage: 28.5+ MB

In [5]:
df['humidity'] = df['humidity'].str.replace('%',' ')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249023 entries, 0 to 249022
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  249023 non-null  int64
 1   city        249023 non-null  object
 2   date        249023 non-null  object
 3   time        249023 non-null  object
 4   year        249023 non-null  int64
 5   month       249023 non-null  int64
 6   day         249023 non-null  int64
 7   hour        249023 non-null  int64
 8   minute      249023 non-null  int64
 9   weather     249023 non-null  object
 10  temp        249023 non-null  int64
 11  wind        249023 non-null  int64
 12  humidity    249006 non-null  object
 13  barometer   248951 non-null  float64
 14  visibility  249023 non-null  int64
dtypes: float64(1), int64(9), object(5)
memory usage: 28.5+ MB

In [ ]:
df['humidity'] = df['humidity'].astype('float')
df

In [ ]:
# Summary Statistics
df.describe()

In [ ]:
# Categorical Summary Statistics
df.describe(exclude="number")

In [ ]:
# summary statistics for each city
df.groupby(['city', 'year'])['temp'].describe()

In [ ]:
# Check for missing values

df.isnull().sum()

In [ ]:
# Drop Null Values
df = df.dropna( how='any', subset=['humidity', 'barometer'])
df.isnull().sum()

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

In [ ]:
# Creating box plot to check for extreme value

df[['wind', 'visibility', 'temp', 'humidity']].plot(kind='box')

In [ ]:
#  Drop exterme value

# df = df[df[['wind', 'visibility']] < 125 ]

# Not sure if we can do this step?

In [ ]:
# using groupby function with aggregation to get mean, min and max values for temprature per city
result = df.groupby('city').agg({'temp': ['mean', 'min', 'max']})
  
result

In [ ]:
# Average  Temprature  for each of the city
df.groupby([df["year"], "city"])["temp"].mean()

# Data Visualization

In [ ]:
plt.figure(figsize = [20,5]) #[width, height]
df.groupby(['year'])['temp'].mean().plot()
plt.title( 'Average Annual Temprature in Saudi Arabia')
plt.ylabel('Average Temprature in mm')
plt.xlabel('Year')
plt.xticks(rotation=45)
plt.show()

In [ ]:
sns.set_style('whitegrid')
plt.subplots(figsize=(20,8))
plt.title("Monthly Average Rainfall", fontsize=40)
sns.barplot(x="city", y="temp", hue='year', data=df)
plt.xticks(rotation = 45)
plt.xticks(fontsize=18)
plt.ylabel("Mean Rainfall",fontsize=20)
plt.xlabel("Months",fontsize=20)

In [ ]:
# Data Modelding

In [ ]:
# Plot Regression Line

sns.lmplot(x = "month", y = "temp", data = df, height = 5.2, aspect = 2);

In [ ]:
# Importing train-test-split 
from sklearn.model_selection import train_test_split

In [ ]:
# Putting feature variable to X
X = df.drop('temp',axis=1)

# Putting response variable to y
y = df['temp']

In [ ]:
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state = 99)
X_train.head()

In [ ]:
# Importing linear regression from sklearn library
from sklearn.linear_model import LinearRegression

model = LinearRegression()

X_train = df[['year', 'month', 'day', 'wind', 'barometer', 'visibility']]
y_train = df[['temp']]

model.fit(X_train, y_train)

print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

In [ ]:
# Let's check the evaluation metrics of our  model

# Importing classification report and confusion matrix from sklearn metrics
from sklearn import metrics


    
# Making predictions
y_pred = model.predict(X_test)
y_pred

In [ ]:
x_month = df['month']
plt.figure(figsize=(15,6))
plt.plot(X_train, y_train,'o', alpha = 0.5)
plt.plot(x, y_hat, 'r', alpha = 0.5)
plt.xlabel('month')
plt.ylabel('temp')
print("MSE:", metrics.mean_squared_error(y_pred, y_train))
print("R^2:", metrics.r2_score(y_hat, y_train))
print("var:", y.var())

In [ ]:
X = np.array([2030]).reshape(-1,1)
X